<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
    <style>
		.container {
			width: 1170px;
		}
		article {
			margin-bottom: 30px;
		}
		article h1 {
			font-size: 24px;
			font-family: '微软雅黑','黑体',sans-serif;
		}
		article div {
			border-top: 1px dashed gray;
			border-bottom: 1px solid gray;
			padding-top: 6px;
			margin-bottom: 4px;
		}
    </style>
</head>
<body>
	<!-- 1.头部 -->
	<div class="container">
		<page-header>
			<!-- 二手诗人 科学家  -->
			<h1>穿越繁华 <small>人生为棋，我愿为卒，行动虽缓，不曾后退一步。。。</small></h1>
			<h3>
				乘风行 无惧
				<button style="font-size:15px;float:right;" class="btn btn-default-btn-lg" data-toggle="modal" data-target="#MyModal">请登录</button>
				<div class="modal fade" id="MyModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<a href="login.html" class="btn btn-default">登录</a>
								<a href="register.php" class="btn btn-default">注册</a>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
								<button class="btn btn-primary type="button"">Save</button> 	
							</div>
						</div>
					</div>
				</div>
			</h3>
		</page-header>
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a href="blog_index.php">日志</a></li>
				<li class="active"><a href="about.php">关于</a></li>
				<li><a href="message.php">留言</a></li>
			</ul>
			<form action="" class="navbar-form navbar-right">
				<div class="form-group"><input type="text" class="form-control"></div>
				<div class="form-group"><input type="submit" value="搜索" class="form-control"></div>
			</form>
		</nav>
	</div>


	<!-- 2.主体 -->
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<article>
					<h1><a href="">我是文章标题</a></h1>
					<div class="arc">
						<p>
							人每天都在进行编程工作,编程对于人来说是很自然的. <br>
							你完全有能力在3个小时内学会编程. <br>
						</p>
						<p>
							也有必要闪电般的学会编程,以确认你是否喜欢这一行,并降低学习.
							本文中的实验者–一个0基础的天津保安,
							在上火车前的3小时,学会PHP留言本开发.
						</p>
					</div>
					<span class="pull-right"><a href="">3条评论&raquo;</a></span>
				</article>

				<article>
					<h1><a href="">我是文章标题</a></h1>
					<div class="arc">
						<p>
							人每天都在进行编程工作,编程对于人来说是很自然的. <br>
							你完全有能力在3个小时内学会编程. <br>
						</p>
						<p>
							也有必要闪电般的学会编程,以确认你是否喜欢这一行,并降低学习.
							本文中的实验者–一个0基础的天津保安,
							在上火车前的3小时,学会PHP留言本开发.
						</p>
					</div>
					<span class="pull-right"><a href="">3条评论&raquo;</a></span>
				</article>

				<article>
					<h1><a href="">我是文章标题</a></h1>
					<div class="arc">
						<p>
							人每天都在进行编程工作,编程对于人来说是很自然的. <br>
							你完全有能力在3个小时内学会编程. <br>
						</p>
						<p>
							也有必要闪电般的学会编程,以确认你是否喜欢这一行,并降低学习.
							本文中的实验者–一个0基础的天津保安,
							在上火车前的3小时,学会PHP留言本开发.
						</p>
					</div>
					<span class="pull-right"><a href="">3条评论&raquo;</a></span>
				</article>

			</div>
			<div class="col-xs-3">
				<div class="panel panel-default">
					<div class="panel-heading">最新博文</div>
					<div class="panel-body">
						<ul>
							<li><a href="">最新博文1</a></li>
							<li><a href="">最新博文2</a></li>
							<li><a href="">最新博文3</a></li>
							<li><a href="">最新博文4</a></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">日志分类</div>
					<div class="panel-body">
						<ul>
							<li><a href="">心情</a></li>
							<li><a href="">技术</a></li>
							<li><a href="">人生</a></li>
							<li><a href="">哲学</a></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Tag标签</div>
					<div class="panel-body">
						<ul>
							<li><a href="">心情</a></li>
							<li><a href="">技术</a></li>
							<li><a href="">人生</a></li>
							<li><a href="">哲学</a></li>
						</ul>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">友情链接</div>
					<div class="panel-body">
						<ul>
							<li><a href="http://www.baidu.com">百度</a></li>
							<li><a href="http://www.google.hk">谷歌</a></li>
							<li><a href="http://jingyan.baidu.com">百度经验</a></li>
							<li><a href="http://sports.sina.com.cn/nba">NBA</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="well">版权信息www.chuanyuefanhua.com</div>
	</div>
	<!-- 3.底部 -->
	
	<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>	
	<script src="./js/bootstrap.min.js"></script>	
	<script src="js/jquery.js"></script>
 	<script src="js/bootstrap.min.js"></script>
</body>
</html>