<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="<?php echo URL_ROOT;?>/css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
    <!--以下：KindEditor引入开始-->
    <link rel="stylesheet" href="<?php echo URL_ROOT;?>/kindeditor-php/themes/default/default.css" />
    <!-- 重复 -->
	<link rel="stylesheet" href="<?php echo URL_ROOT;?>/kindeditor-php/plugins/code/prettify.css" />
	<script charset="utf-8" src="<?php echo URL_ROOT;?>/kindeditor-php/kindeditor.js"></script>
	<script charset="utf-8" src="<?php echo URL_ROOT;?>/kindeditor-php/lang/zh_CN.js"></script>
	<script charset="utf-8" src="<?php echo URL_ROOT;?>/kindeditor-php/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="content"]', {
				/*****************************************以下：简单模式************************************/
				minWidth : 626,
				resizeType : 1,
				allowPreviewEmoticons : false,
				allowImageUpload : false,
				items : [
					'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
					'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
					'insertunorderedlist', '|', 'emoticons', 'image', 'link'],
				/**/	
				/*****************************************以上：简单模式************************************/
				//cssPath : 'kindeditor-php/plugins/code/prettify.css',
				uploadJson : 'kindeditor-php/php/upload_json.php',
				fileManagerJson : 'kindeditor-php/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=art]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=art]')[0].submit();
					});
				}
			});
			//prettyPrint();
		});
	</script>
	<!--以上：KindEditor引入结束-->
<style>
	.container {
		width: 1170px;
	}
	#footer {
		margin: 20px 0;
	}
</style>
</head>
<body>
	<!-- 1.头部 -->
	<div class="container">
		<page-header>
			<!-- 二手诗人 科学家  -->
			<h1>穿越繁华 <small>人生为棋，我愿为卒，行动虽缓，不曾后退一步。。。</small></h1>
			<h3>
				乘风行 无惧
				<button style="font-size:15px;float:right;" class="btn btn-default-btn-lg" data-toggle="modal" data-target="#MyModal">请登录</button>
				<div class="modal fade" id="MyModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<a href="<?php echo URL_ROOT;?>/login.php" class="btn btn-default">登录</a>
								<a href="<?php echo URL_ROOT;?>/register.php" class="btn btn-default">注册</a>
								<!-- 
									<a href="../login.php" class="btn btn-default">登录</a>
									<a href="../register.php" class="btn btn-default">注册</a>
								 -->	
							</div>
							<div class="modal-footer">
								<button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
								<button class="btn btn-primary type="button"">Save</button> 	
							</div>
						</div>
					</div>
				</div>

			</h3>
		</page-header>
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
							
				<li class="active"><a href="<?php echo URL_ROOT;?>/blog_index.php">日志</a></li>
				<li><a href="<?php echo URL_ROOT;?>/about.php">关于</a></li>
				<li><a href="<?php echo URL_ROOT;?>/message.php">留言</a></li>
			</ul>
			<form action="" class="navbar-form navbar-right">
				<div class="form-group"><input type="text" class="form-control"></div>
				<div class="form-group"><input type="submit" value="搜索" class="form-control"></div>
			</form>
		</nav>
	</div>

	
	<div class="container">
		
		<div class="row">
			<div class="col-xs-3">
				<div class="well">
					<ul class="nav nav-pills nav-stacked">
						<li><a href="<?php echo URL_ROOT?>/admin/admin.php">博客管理</a></li>
						<!-- 需要修改 -->
						<!-- 到达博客管理页面时，进入博文列表，并多加入个发表文章 -->
						<li><a href="<?php echo URL_ROOT?>/admin/admlist.php">用户管理</a></li>
						<li class="active"><a href="<?php echo URL_ROOT?>/admin/admlist.php">博文管理</a></li>
						<!-- 新加入的发表文章 -->
						<li><a href="<?php echo URL_ROOT?>/admin/admart.php">发表文章</a></li>
						<!-- 需要修改 -->
						<li><a href="<?php echo URL_ROOT?>/cat_model/catlist.php">目录管理</a></li>
						<!-- 需要修改 -->
						<li><a href="">评论管理</a></li>
						<!-- 需要修改 -->
						<li><a href="<?php echo URL_ROOT?>/admin/admart.php">友情链接管理</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<form action="" class="form-horizontal" method="post">
					<div class="form-group">
						<label for="" class="col-xs-2 control-label">标题:</label>
						<div class="col-xs-9">
							<input type="text" name="title" class="form-control" value="<?php echo $art['title'];?>">
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-xs-2 control-label">栏目:</label>
						<div class="col-xs-2">
							<select name="catid"  class="form-control">
								<?php foreach($cats as $c)  { ?>
								<option value="<?php echo $c['catid'];?>" <?php echo $c['catid']==$art['catid']?'selected':'' ?>><?php echo $c['catname']; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-xs-2 control-label">内容:</label>
						<div class="col-xs-9">
							<!-- <textarea name="content"></textarea> -->
							<!-- style="width:700px;height:200px;visibility:hidden;" -->
							<textarea name="content" >
								<?php echo htmlspecialchars($art['content']); ?>
							</textarea>
							<br />
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-xs-2 control-label">标签:</label>
						<div class="col-xs-9">
							<input type="text" name="tags" class="form-control" value="<?php echo $art['tags'];?>">
							<input type="hidden" name="artid" value="<?php echo $art['artid'];?>">
						</div>
					</div>
					<div class="col-xs-9 col-xs-offset-2">
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
		</div>
		<div class="well text-center" id="footer">
			欢迎使用Zblog
		</div>
	</div>
	<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>	
	<script src="<?php echo URL_ROOT;?>/js/bootstrap.min.js"></script>	
</body>
</html>