<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
<style>
	.container {
		width: 1170px;
	}
	#footer {
		margin: 20px 0;
	}
</style>
</head>
<body>
	<div class="container">
		<div class="well">
			<h1>农场主的blog</h1>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div class="well">
					<ul class="nav nav-pills nav-stacked">
						<li>博客管理</li>
						<li><a href="">博文列表</a></li>
						<li><a href="">发表文章</a></li>
						<li><a href="">评论管理</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-9">
				<div class="well center-block">
					<?php if($type == 'error') {
						echo '<h2 class="text-warning">',$msg,'</h2>';
					} else if($type == 'success') {
						echo '<h2 class="text-success">' , $msg, '</h2>';
					}
					?>
				</div>
			</div>
		</div>
		<div class="well text-center" id="footer">
			欢迎使用Zblog
		</div>
	</div>
	<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>	
	<script src="./js/bootstrap.min.js"></script>	
</body>
</html>