<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<!--[if lt IE 9]>
        <script src="./js/html5shiv.min.js"></script>
        <script src="./js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="">文章管理</a></li>
		<li><a href="">评论管理</a></li>
		<li><a href="">用户管理</a></li>
		<table class="table">
			<tr>
				<td>文章标题</td>
				<td>发布日期</td>
				<td>类别</td>
				<td>作者</td>
				<td>回复</td>
				<td>操作</td>
			</tr>
			<tr>
				<td>人生三乐</td>
				<td>2014年4月19日</td>
				<td>类别</td>
				<td>作者</td>
				<td><span class="badge">3</span></td>
				<td>操作</td>
			</tr>
			<tr>
				<td>人生三乐</td>
				<td>2014年4月19日</td>
				<td>类别</td>
				<td>作者</td>
				<td><span class="badge">3</span></td>
				<td>操作</td>
			</tr>
			<tr>
				<td>人生三乐</td>
				<td>2014年4月19日</td>
				<td>类别</td>
				<td>作者</td>
				<td><span class="badge">3</span></td>
				<td>操作</td>
			</tr>
		</table>
	</ul>
	
	<script src="js/jquery.js"></script>
 	<script src="js/bootstrap.min.js"></script>
 	<script src="js/jquery.js"></script>
 	<script src="js/bootstrap.min.js"></script>
</body>
</html>